.advantages{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages__list{
  background-color: #fff;

  &--gray {
    background-color: #eee;
    padding: 24px 18px 28px 18px;
  }
}

.advantages__title{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  &--align-left {
    text-align: left;
  }
}

.advantages__description {

  &--align-left {
    text-align: left;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__item {
 list-style-type: none;

 &--with-img {
  background-color: #81B3D2;
  color: #fff;
 }

 &--img{
  padding: 0;
 }
}

.advantages__image{
  padding: 0;
  margin: 0;
}
