.button-primary {
  font-family: inherit;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 16px;
  text-decoration: none;
  box-sizing: border-box;
}

.button-primary:active {
  background-color: #5496bd;
  color: rgba(225, 225, 255, 0.3);
}

.button-primary:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

@media (min-width: @desktop-width) {
  .button-primary:hover {
    background-color: #669ec0;
  }
}
