.call-to-action__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 39px 18px 49px 18px;
}

.call-to-action__title{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.call-to-action__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
