.gallery-photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.gallery-photo__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 24px 20px 25px 20px;
  border-bottom: 1px #e5e5e5 solid;
}

.gallery-photo__list {
  padding: 0;
  margin: 0;
}

.gallery-photo__name-card {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
}

.gallery-photo__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-bottom: 11px;
}

.gallery-photo__author-name {
  margin: 0;
}

.gallery-photo__author-label {
  margin-right: 4px;
}

.gallery-photo__number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  margin: 0;
}

.gallery-photo__img {
  margin: 0;
  margin-bottom: 15px;
}

.gallery-photo__like-icon {
  margin: 0;
  margin-right: 14px;
}
