.hero-block {
  background-image: url(../../img/back-mobile-2x.jpg), url(../../img/text-index.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: gray;
  min-width: 320px;
  min-height: 389px;
}

