.hero-block-inner{
background-image: url(../../img/back-catalog.jpg), url(../../img/sedona.svg);
background-repeat: no-repeat;
background-position: center center;
background-color: gray;
min-height: 158px;
}
