.hero-block-inner {
  background-image: url("../img/sedona_hero.svg"),
    url("../img/back-hero-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #808080;
  min-width: 320px;
  min-height: 158px;
}

.hero-block-inner__img {
  background-image: url("../img/separator-2.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 158px;
}
