.hero-block-inner {
  background-image: url("../img/sedona_hero.svg"),
    url("../img/back-hero-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #808080;
  min-width: 320px;
  min-height: 158px;
}

.hero-block-inner__img {
  background-image: url("../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 158px;
}

@media (min-width: @tablet-width) {
  .hero-block-inner {
    min-width: 768px;
    min-height: 290px;
  }

  .hero-block-inner__img {
    height: 290px;
  }
}
