.main-header {
  background-color: rgb(255, 255, 255);
  margin: 0 18px;
  padding: 0;
  max-height: 56px;
  display: flex;
  justify-content: space-around;
}

.main-header__logo {
  margin-bottom: -40px;
}
