.main-header {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 320px;
}

.main-header__wrapper {
  max-height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 18px;
}

.main-header__logo {
  margin-bottom: -40px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
