.main-nav {
 background-color: #81B3D2;
}
.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style-type: none;
}

.main-nav-link {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #fff;
}


