.page__body {
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  width: 320px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}
