.page__body{
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 320px;
  margin: 0 auto;

  background-color: #fff;
}

.link {
  text-decoration: none;
}


